{% extends 'base.html.twig' %}
{% block title %}SnowTricks : Inscription{% endblock %}

{% block body %}

    <div class="container mt-5">

        <h1 class="mb-5">Connexion</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}


    </div>

{% endblock %}