{% extends 'base.html.twig' %}
{% block title %} Mot de passe oublié{% endblock %}

{% block body %}

<div class="container mt-5">
    <p>Une fois votre email saisi, un mouveau mot de passe vous sera envoyé par mail.</p>
    {{ form_start(form) }}
    {{ form_row(form) }}
    <button class="btn btn-secondary">Envoyer</button>
    {{ form_end(form) }}
</div>

{% endblock %}



