.container
{
    min-height: 90vh;
}

.media-trick
{
    border: 1px solid #a8608b;
    box-shadow: 3px 3px 10px #555555;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

h1
{
    font-family: 'MedievalSharp', cursive;
    color: #185099;
    text-shadow: 3px 3px 10px #a8608b;
}