header
{
    background-image: url("../images/header.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 90vh;
    box-shadow: 0px 0px 50px -8px rgba(0,0,0,0.75);
}

.header
{
    width: 100%;
}

h1
{
    font-size: 4.9em;
    font-family: 'MedievalSharp', cursive;
    color: #185099;
    text-shadow: 3px 3px 10px #a8608b;
}

@media only screen and (max-device-width:480px) {
    header
    {
        background-image: url("../images/header-sm.jpg");
    }
    h1
    {
        font-size: 3em;
    }
}

h2
{
    color: #96b0b6;
}

.btn-blue
{
    background-color: #185099;
    color: #96b0b6;
}

#caret
{
    align-self: flex-end;
    margin-bottom: 30px;
    margin-right: 30px;
}

.fas
{
    color : #185099;

}

.badge
{
    color: #dceaef;
}

.badge-blue
{
    background-color: #185099;
}

.badge-activate
{
    background-color: #a8608b;
}

.trick
{
    height: 95%;
    border: 1px solid #a8608b;
    color: white;
    box-shadow: 3px 3px 10px #555555;
    background-color: #dceaef
}

.img
{
    width: 100%;
    height: 200px;
}

.trick-img
{
    width: 90%;
    height: 90%;
    margin-top: 10px;
    border: 1px solid #a8608b;
    box-shadow: 3px 3px 10px #555555;

}

.trick-img-link :hover
{
    width : 100%;
    height : 100%;
    margin-top: 0;
    border-bottom: 1px solid #a8608b;
}

.title-trick
{
    height: 75px;
}

h3
{
    font-size: 1.2em;
    font-family: 'MedievalSharp', cursive;
    color: #185099;
}


a :hover
{
    color: #a8608b;
    text-shadow: 3px 3px 10px #555555;
}

/*modal*/
.modal-content
{
    background-color: #dceaef;
    border: 2px solid #a8608b;
}

.modal-header
{
    font-family: 'MedievalSharp', cursive;
    color: #185099;
    text-shadow: 3px 3px 10px #a8608b;
    border-bottom: 1px solid #a8608b;
}

.modal-footer
{
    border-top: 1px solid #a8608b;
}

.img-modal
{
    border: 1px solid #a8608b;
    box-shadow: 3px 3px 10px #555555;
}