.img-modal
{
    width: 100%;
}

.icone-button
{
    background: none;
    border: none;
}

iframe
{
    border: 1px solid #a8608b;
    box-shadow: 3px 3px 10px #555555;
    width: 100%;
}

.i-btn
{
    color: #dceaef !important;
}

.card-trick
{
    border: 1px solid #a8608b;
    box-shadow: 3px 3px 10px #555555;
    background-color: #dceaef
}

#title-img
{
    font-family: 'MedievalSharp', cursive;
    color: #dceaef;
    margin-top: 80px !important;
    background-color: #185099;
    opacity: 50%;
    font-size: 1.8em;
}

.card-header-trick
{
    background-image: url("../images/header-show2.jpg");
    background-size: 100% 100%;

    border: 1px solid #a8608b;
    box-shadow: 3px 3px 10px #555555;
}

.no-image
{
    height: 300px;
}

.trick-medias
{
    border: 1px solid #a8608b;
    box-shadow: 3px 3px 10px #555555;
    height: 100%
}

.media-trick
{
    border: 1px solid #a8608b;
    box-shadow: 3px 3px 10px #555555;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

h1
{
    font-family: 'MedievalSharp', cursive;
    color: #185099;
    text-shadow: 3px 3px 10px #a8608b;
}


/*modal*/
.modal-content
{
    background-color: #dceaef;
    border: 2px solid #a8608b;
}

.modal-header
{
    font-family: 'MedievalSharp', cursive;
    color: #185099;
    text-shadow: 3px 3px 10px #a8608b;
    border-bottom: 1px solid #a8608b;
}

.modal-footer
{
    border-top: 1px solid #a8608b;
}

.img-modal
{
    border: 1px solid #a8608b;
    box-shadow: 3px 3px 10px #555555;
}

hr
{
    background-color: #a8608b;
    box-shadow: 3px 3px 10px #555555;
}

@media only screen and (max-device-width:760px) {
    .add-media {
        font-size: 1em;
    }
}