.card-trick
{
    border: 1px solid #a8608b;
    box-shadow: 3px 3px 10px #555555;
    background-color: #dceaef
}

#title-img
{
    font-family: 'MedievalSharp', cursive;
    color: #dceaef;
    margin-top: 80px !important;
    background-color: #185099;
    opacity: 50%;
    font-size: 1.8em;
}

.card-header-trick
{
    background-image: url("../images/header-show2.jpg");
    background-size: 100% 100%;

    border: 1px solid #a8608b;
    box-shadow: 3px 3px 10px #555555;
}

.no-image
{
    height: 300px;

}

.trick-medias
{
    border: 1px solid #a8608b;
    box-shadow: 3px 3px 10px #555555;
}

.media-trick
{
    border: 1px solid #a8608b;
    box-shadow: 3px 3px 10px #555555;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

iframe
{
    border: 1px solid #a8608b;
    box-shadow: 3px 3px 10px #555555;
    width: 100%;
}

h1
{
    font-family: 'MedievalSharp', cursive;
    color: #185099;
    text-shadow: 3px 3px 10px #a8608b;
}

.description
{
    border: 1px solid #a8608b;
    box-shadow: 3px 3px 10px #555555;
}

.badge-category
{
    background-color: #185099;
    color: #dceaef !important;
}

.card-comments
{
    border: 1px solid #a8608b;
    box-shadow: 3px 3px 10px #555555;
    background-color: #dceaef
}

.card-header-comments
{
    background-color: #185099;
    color: #dceaef !important;
    font-family: 'MedievalSharp', cursive;
}

.avatar
{
    max-width: none;
    width:50% ;
    height: 30px;
}

.badge-comments
{
    background-color: #dceaef;
    color: #185099;
}



.badge-page
{
    background-color: #185099;
    color: #dceaef !important;
}

.badge-page-activate
{
    background-color: #a8608b;
    color: #dceaef !important;
}

hr
{
    background-color: #a8608b;
}

/*modal*/
.modal-content
{
    background-color: #dceaef;
    border: 2px solid #a8608b;
}

.modal-header
{
    font-family: 'MedievalSharp', cursive;
    color: #185099;
    text-shadow: 3px 3px 10px #a8608b;
    border-bottom: 1px solid #a8608b;
}

.modal-footer
{
    border-top: 1px solid #a8608b;
}

.img-modal
{
    border: 1px solid #a8608b;
    box-shadow: 3px 3px 10px #555555;
}

.div-poster-sm
{
    background-image: url("../images/header-show2.jpg");
    background-size: cover;
    border: 1px solid #a8608b;
    box-shadow: 3px 3px 10px #555555;
}
.poster-sm
{
    border: 1px solid #a8608b;
    box-shadow: 3px 3px 10px #555555;
    max-width: 80%;
}
