

#title-img
 {
    font-family: 'MedievalSharp', cursive;
    color: #185099;
     background-color: #dceaef;
     opacity: 50%;
     font-size: 1.8em;
 }

.avatar
{
    max-width: none;
    width:50% ;
    height: 30px;
}

iframe
{
    width: 100%;
}


