{% extends 'base.html.twig' %}
{% block title %}SnowTricks : le site de tous les snowborders{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset("css/home.css") }}">{% endblock %}

{% block body %}
   <div class="container">
      <h1>Page d'administration</h1>
   </div>
{% endblock %}
