<div class="form-check col-6">
    <input type="checkbox" id="add_trick_categories_{{ category.id }}" name="add_trick[categories][]" class="form-check-input" value="{{ category.id }}" checked>
    <label class="form-check-label" for="add_trick_categories_{{ category.id }}">{{ category.title }}</label>
</div>

